{% extends 'base.html.twig' %}

{% block title %}Регистрация на пациент Лична карта{% endblock %}
{% block header %}
    <div class="d-inline">
        <h4 class="text-uppercase">
            {% if isEdit %}
                Редактиране
            {% else %}
                Добавяне
            {% endif %}
            на лична карта за {{ patient.firstName }} {{ patient.firstName }}</h4>
        {# <span>Място където може да добавяте нови работници</span> #}
    </div>
{% endblock %}
{% block breadcrumb %}
    {{ slope_it_breadcrumb() }}
{% endblock %}
{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button type="submit">Запис</button>
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bower_components/smoothness/jquery-ui.css') }}">
{% endblock %}
{% block javascriptend %}
    <script src="{{ asset('assets/js/calendar-settings.js') }}" type="text/javascript"></script>
{% endblock %}
