{% block top %}
    <nav class="navbar header-navbar pcoded-header">
        <div class="navbar-wrapper">
            <div class="navbar-logo">
                <a class="mobile-menu" id="mobile-collapse" href="#!">
                    <i class="feather icon-menu"></i>
                </a>
                <a href="{{ path('home') }}">
                    <img class="img-fluid" src="{{ asset('assets/images/logo.webp') }}" alt="Cerebrum-Logo"/>
                </a>
                <a class="mobile-options">
                    <i class="feather icon-more-horizontal"></i>
                </a>
            </div>
            <div class="navbar-container">
                <ul class="nav-left">
                    <li class="header-search">
                        <div class="main-search morphsearch-search ">
                            <div class="input-group">
                                    <span class="input-group-addon search-btn"><i
                                                class="feather icon-search"></i></span>
                                <label>
                                    <input type="text" class="form-control" style="margin-top: 7px;">
                                </label>
                                <span class="input-group-addon search-close"><i
                                            class="feather icon-x"></i></span>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="nav-right">
                    <li class="header-notification">
                        <a href="#!" onclick="javascript:toggleFullScreen()">
                            <i class="feather icon-maximize full-screen"></i>
                        </a>
                    </li>
                    <li class="header-notification">
                        <div class="dropdown-primary dropdown">
                            <div class="dropdown-toggle" data-toggle="dropdown">
                                <i class="feather icon-bell"></i>
                                <span class="badge bg-c-pink">3</span>
                            </div>

                            <ul class="show-notification notification-view dropdown-menu"
                                data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                <li>
                                    <h6>Отчети</h6>
                                    <label class="label label-danger">Нови</label>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="d-flex align-self-center img-radius"
                                             src="{{ asset('assets/images/avatar-4.jpg') }}"
                                             alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">Пациент Име</h5>
                                            <p class="notification-msg">Събитие</p>
                                            <span class="notification-time">Преди колко време</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="d-flex align-self-center img-radius"
                                             src="{{ asset('assets/images/avatar-3.jpg') }}"
                                             alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">Пациент Име</h5>
                                            <p class="notification-msg">Събитие</p>
                                            <span class="notification-time">Преди колко време</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="d-flex align-self-center img-radius"
                                             src="{{ asset('assets/images/avatar-4.jpg') }}"
                                             alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">Пациент Име</h5>
                                            <p class="notification-msg">Събитие</p>
                                            <span class="notification-time">Преди колко време</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {# <li class="header-notification"> #}
                    {# <div class="dropdown-primary dropdown"> #}
                    {# <div class="displayChatbox dropdown-toggle" data-toggle="dropdown"> #}
                    {# <i class="feather icon-message-square"></i> #}
                    {# <span class="badge bg-c-green">3</span> #}
                    {# </div> #}
                    {# </div> #}
                    {# </li> #}
                    <li class="user-profile header-notification">
                        <div class="dropdown-primary dropdown">
                            <div class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ asset('assets/images/avatar-4.jpg') }}" class="img-radius"
                                     alt="User-Profile-Image">
                                <span>{{ app.user.firstName }} {{ app.user.lastName }}</span>
                                <span>{{ app.user.email }} {{ app.user.roles[0] }}</span>
                                <i class="feather icon-chevron-down"></i>
                            </div>
                            <ul class="show-notification profile-notification dropdown-menu"
                                data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                <li>
                                    <a href="#!">
                                        <i class="feather icon-settings"></i> Settings
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('home') }}">
                                        <i class="feather icon-user"></i> Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('home') }}">
                                        <i class="feather icon-mail"></i> My Messages
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('home') }}">
                                        <i class="feather icon-lock"></i> Lock Screen
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('app_logout') }}">
                                        <i class="feather icon-log-out"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}